@model IEnumerable<TravelJournal.Web.ViewModels.Journals.JournalViewModel>

@{
    ViewBag.Title = "My Journals";
}

<h2>My Journals</h2>

<p>
    @Html.ActionLink("Create New Journal", "Create", "Journal", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>No journals found.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Entries</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var journal in Model)
            {
                <tr>
                    <td>@journal.Title</td>
                    <td>@journal.Description</td>
                    <td>@journal.EntryCount</td>
                    <td>@journal.CreatedAt.ToShortDateString()</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = journal.JournalId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = journal.JournalId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = journal.JournalId }) |
                        @Html.ActionLink("Entries", "Index", "Entry", new { journalId = journal.JournalId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
