@{
    ViewBag.Title = "Welcome";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-5 fw-bold mb-3">
            Salut, @User.Identity.Name!
        </h1>
    }
    else
    {
        <h1 class="display-5 fw-bold mb-3">
            TravelJournal
        </h1>
    }

    <p class="lead mb-4">
        Count on us for keeping <b>Great Memories</b> saved.
    </p>

    @if (User.Identity.IsAuthenticated)
    {
        var uid = (int)(ViewBag.CurrentUserId ?? 0);

        <div class="d-flex justify-content-center gap-2 flex-wrap">
            <a class="btn btn-primary btn-lg"
               href="@Url.Action("Create", "Journal")">
                Start New Journal
            </a>

            <a class="btn btn-outline-primary btn-lg"
               href="@Url.Action("Index", "Journal")">
                View My Journals
            </a>

            <a class="btn btn-outline-secondary btn-lg"
               href="@Url.Action("Dashboard", "Home")">
                Dashboard
            </a>

            <br>
            <a class="btn btn-outline-dark btn-lg"
               href="@Url.Action("My", "Subscription")">
                My Subscription Plan
            </a>



        </div>

    }
    else
    {
    <a class="btn btn-primary btn-lg px-5"
       href="@Url.Action("Login", "Account")">
        Login
    </a>
    }
</div>



